# Environment Variables
GEMINI_API_KEY=

# Neo4j Aura Graph Database (LPG)
NEO4J_URI=neo4j+s://30544b94.databases.neo4j.io
NEO4J_USER=30544b94
NEO4J_PASSWORD=

# LangSmith Native Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=semiconductor-cleanroom-hive
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
